* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #ecf0f6;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem 2rem;
}

.header input {
    padding: 10px;
    width: 25%;
    border: 1px solid gray;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
}

::placeholder {
    font-size: 16px;
    font-weight: bold;
}

.header img {
    width: 50px;
    border-radius: 50%;
}
